nb-layout-header {
    font-weight: bold;
}

@media(min-width: 850px) {
    .alinha-alert {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}

nb-icon {
    outline: 0;
    cursor: pointer;
    margin-right: 10px;
}